<a href="https://colab.research.google.com/github/aniketmodi-work/ML-NMIMS/blob/master/Lab_Assignments/ML_Lab_Exp_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Experiment 5

**Aim:** Regression and Classification using Linear models

**Objectives:**
* Perform regression on fuel consumption dataset
* Perform classification on iris dataset
* Select linear model for high accuracy on cross validation and test set for iris dataset
* Select linear model for high R2_score [~1] on cross validation and test set for fuel consumption dataset
* Perform grid search and random search

In [12]:
#Required modules

import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn import linear_model
from sklearn.model_selection import cross_val_score, KFold, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from keras.optimizers import Adam
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [13]:
#Importing Fuel consumption dataset

!wget -O FuelConsumption.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/FuelConsumptionCo2.csv
data1 = pd.read_csv('FuelConsumption.csv')
data1.head()

--2020-08-31 02:24:58--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/FuelConsumptionCo2.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72629 (71K) [text/csv]
Saving to: ‘FuelConsumption.csv’

FuelConsumption.csv 100%[===================>]  70.93K  --.-KB/s    in 0.02s

2020-08-31 02:24:59 (2.77 MB/s) - ‘FuelConsumption.csv’ saved [72629/72629]

   MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0       2014  ACURA  ...                       33          196
1       2014  ACURA  ...                       29          221
2       2014  ACURA  ...                       48          136
3       2014  ACURA  ...                       25          255
4       2014  ACURA  ...                       27          244

[5 rows x 13 columns]

In [14]:
#Required preprocessing

In [15]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [16]:
col = data1.columns
print("UNIQUE VALUES")
for i in col:
  print(i,":",data1[i].nunique())

UNIQUE VALUES
MODELYEAR : 1
MAKE : 39
MODEL : 663
VEHICLECLASS : 16
ENGINESIZE : 45
CYLINDERS : 7
TRANSMISSION : 22
FUELTYPE : 4
FUELCONSUMPTION_CITY : 167
FUELCONSUMPTION_HWY : 118
FUELCONSUMPTION_COMB : 148
FUELCONSUMPTION_COMB_MPG : 43
CO2EMISSIONS : 159

In [17]:
data1.drop(['MODELYEAR','MODEL','MAKE'], axis = 1, inplace = True)
data1.head()

  VEHICLECLASS  ENGINESIZE  ...  FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0      COMPACT         2.0  ...                        33          196
1      COMPACT         2.4  ...                        29          221
2      COMPACT         1.5  ...                        48          136
3  SUV - SMALL         3.5  ...                        25          255
4  SUV - SMALL         3.5  ...                        27          244

[5 rows x 10 columns]

In [18]:
data1 = pd.get_dummies(data1)

In [19]:
data1.dtypes

ENGINESIZE                               float64
CYLINDERS                                  int64
FUELCONSUMPTION_CITY                     float64
FUELCONSUMPTION_HWY                      float64
FUELCONSUMPTION_COMB                     float64
FUELCONSUMPTION_COMB_MPG                   int64
CO2EMISSIONS                               int64
VEHICLECLASS_COMPACT                       uint8
VEHICLECLASS_FULL-SIZE                     uint8
VEHICLECLASS_MID-SIZE                      uint8
VEHICLECLASS_MINICOMPACT                   uint8
VEHICLECLASS_MINIVAN                       uint8
VEHICLECLASS_PICKUP TRUCK - SMALL          uint8
VEHICLECLASS_PICKUP TRUCK - STANDARD       uint8
VEHICLECLASS_SPECIAL PURPOSE VEHICLE       uint8
VEHICLECLASS_STATION WAGON - MID-SIZE      uint8
VEHICLECLASS_STATION WAGON - SMALL         uint8
VEHICLECLASS_SUBCOMPACT                    uint8
VEHICLECLASS_SUV - SMALL                   uint8
VEHICLECLASS_SUV - STANDARD                uint8
VEHICLECLASS_TWO-SEATER                    uint8
VEHICLECLASS_VAN - CARGO                   uint8
VEHICLECLASS_VAN - PASSENGER               uint8
TRANSMISSION_A4                            uint8
TRANSMISSION_A5                            uint8
TRANSMISSION_A6                            uint8
TRANSMISSION_A7                            uint8
TRANSMISSION_A8                            uint8
TRANSMISSION_A9                            uint8
TRANSMISSION_AM5                           uint8
TRANSMISSION_AM6                           uint8
TRANSMISSION_AM7                           uint8
TRANSMISSION_AS4                           uint8
TRANSMISSION_AS5                           uint8
TRANSMISSION_AS6                           uint8
TRANSMISSION_AS7                           uint8
TRANSMISSION_AS8                           uint8
TRANSMISSION_AS9                           uint8
TRANSMISSION_AV                            uint8
TRANSMISSION_AV6                           uint8
TRANSMISSION_AV7                           uint8
TRANSMISSION_AV8                           uint8
TRANSMISSION_M5                            uint8
TRANSMISSION_M6                            uint8
TRANSMISSION_M7                            uint8
FUELTYPE_D                                 uint8
FUELTYPE_E                                 uint8
FUELTYPE_X                                 uint8
FUELTYPE_Z                                 uint8
dtype: object

In [20]:
x = data1.drop('CO2EMISSIONS', axis = 1)
y = data1['CO2EMISSIONS']
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.6)

In [21]:
#Building a model

linear = linear_model.LinearRegression()
ridge = linear_model.Ridge()
lasso= linear_model.Lasso()
elastic = linear_model.ElasticNet()
lasso_lars = linear_model.LassoLars()
bayes_ridge = linear_model.BayesianRidge()
logistics = linear_model.LogisticRegression()
sgd = linear_model.SGDClassifier()
passagg = linear_model.PassiveAggressiveClassifier()
ridgecv = linear_model.RidgeClassifierCV()
ridgeclass = linear_model.RidgeClassifier()
models_churn = [linear, ridge, lasso, elastic, lasso_lars, bayes_ridge]

In [22]:
def get_cv_scores(model):
    scores = cross_val_score(model, x_train, y_train, cv=5, scoring='neg_root_mean_squared_error')
    print('CV Mean: ', np.mean(scores))
    print('STD: ', np.std(scores))
    print('\n')

In [23]:
for i in models_churn:
    print(i)
    get_cv_scores(i)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
CV Mean:  -5.773750073087051
STD:  1.4981606292408538


Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)
CV Mean:  -5.9216357363357615
STD:  1.389674879259908


Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)
CV Mean:  -9.146589023995986
STD:  1.2578899394509466


ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)
CV Mean:  -20.00995096579158
STD:  1.9413558110312437


LassoLars(alpha=1.0, copy_X=True, eps=2.220446049250313e-16, fit_intercept=True,
          fit_path=True, max_iter=500, normalize=True, positive=False,
          precompute='auto', verbose=False)
CV Mean:  -32.10007167794909
STD:  2.556156537625512


BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
              compute_score=False, copy_X=True, fit_intercept=True,
              lambda_1=1e-06, lambda_2=1e-06, lambda_init=None, n_iter=300,
              normalize=False, tol=0.001, verbose=False)
CV Mean:  -5.770949030842273
STD:  1.489152879606459

In [24]:
alpha = [0.5, 1, 1.5, 0.01, 2.5, 0.0001, 10, 100, 0.35]
solver = ['auto', 'svd']
param_grid = dict(alpha = alpha, solver = solver)

In [25]:
gridsearch = GridSearchCV(estimator = ridge, param_grid = param_grid, scoring = 'r2', cv = 10)
grid_result = gridsearch.fit(x_train, y_train)

In [26]:
rand_srch = RandomizedSearchCV(estimator = ridge, param_distributions = param_grid, scoring='r2', cv = 10)
rnds_result = rand_srch.fit(x_train, y_train)

In [27]:
print(grid_result.best_params_)
print(rnds_result.best_params_)

{'alpha': 0.01, 'solver': 'svd'}
{'solver': 'svd', 'alpha': 0.01}

In [28]:
print(grid_result.best_score_)
print(rnds_result.best_score_)

0.9920920134481295
0.9920920134481295

In [29]:
ridge=linear_model.Ridge(alpha=0.05,solver='auto')
ridge.fit(x_train, y_train)

Ridge(alpha=0.05, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [30]:
y_pred = ridge.predict(x_test)

In [31]:
#Final accuracy for the best model fitting fuel consumption set

from sklearn.metrics import accuracy_score,r2_score
r2_score(y_test,y_pred)

0.9912557327823581

In [32]:
#Importing IRIS dataset

data2 = load_iris()

In [33]:
data2 = pd.DataFrame(data= np.c_[data2['data'], data2['target']],columns= data2['feature_names'] + ['target'])
encoder=OneHotEncoder(sparse=False)
data2

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2     0.0
1                  4.9               3.0  ...               0.2     0.0
2                  4.7               3.2  ...               0.2     0.0
3                  4.6               3.1  ...               0.2     0.0
4                  5.0               3.6  ...               0.2     0.0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3     2.0
146                6.3               2.5  ...               1.9     2.0
147                6.5               3.0  ...               2.0     2.0
148                6.2               3.4  ...               2.3     2.0
149                5.9               3.0  ...               1.8     2.0

[150 rows x 5 columns]

In [34]:
x = data2.drop('target',axis=1)
y = data2['target']
X_train, X_test, y_train, y_test = train_test_split(x, y , test_size=0.2)

In [35]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [37]:
#Building model for IRIS dataset

from sklearn.linear_model import LogisticRegression

logistics = linear_model.LogisticRegression()
sgd = linear_model.SGDClassifier()
passagg = linear_model.PassiveAggressiveClassifier()
ridgecv = linear_model.RidgeClassifierCV()
ridgeclass = linear_model.RidgeClassifier()
models_log = [logistics, sgd, passagg, ridgecv, ridgeclass]

In [38]:
def get_cv_scores(model):
    scores = cross_val_score(model, X_train, y_train, cv=5, scoring='accuracy')
    print('CV Mean: ', np.mean(scores), 'STD: ', np.std(scores), '\n')

In [39]:
for i in models_log:
    print(i)
    get_cv_scores(i)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
CV Mean:  0.9666666666666666 STD:  0.03118047822311619

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)
CV Mean:  0.9416666666666667 STD:  0.042491829279939886

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=1000, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)
CV Mean:  0.8916666666666666 STD:  0.06770032003863301

RidgeClassifierCV(alphas=array([ 0.1,  1. , 10. ]), class_weight=None, cv=None,
                  fit_intercept=True, normalize=False, scoring=None,
                  store_cv_values=False)
CV Mean:  0.8416666666666668 STD:  0.0666666666666667

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)
CV Mean:  0.8416666666666668 STD:  0.0666666666666667

In [40]:
solver = ['liblinear', 'newton-cg', 'lbfgs', 'sag', 'saga']
param_grid = dict(solver = solver)
gridsearch = GridSearchCV(estimator = logistics, param_grid = param_grid, scoring = 'r2', cv = 10)
grid_result = gridsearch.fit(X_train, y_train)

In [41]:
rand_srch = RandomizedSearchCV(estimator = logistics, param_distributions = param_grid, scoring='r2', cv = 10)
rnds_result = rand_srch.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:281: UserWarning: The total space of parameters 5 is smaller than n_iter=10. Running 5 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)

In [42]:
print(grid_result.best_params_)
print(rnds_result.best_params_)

{'solver': 'newton-cg'}
{'solver': 'newton-cg'}

In [43]:
print(grid_result.best_score_)
print(rnds_result.best_score_)

0.9460843373493976
0.9460843373493976

In [44]:
log_reg = LogisticRegression(solver='newton-cg')
log_reg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [45]:
#Final accuracy fitting the model for IRIS dataset

y_pred = log_reg.predict(X_test)
print("R2 : ", r2_score(y_test,y_pred))
print("Accuracy : ", accuracy_score(y_test,y_pred))

R2 :  0.9085365853658537
Accuracy :  0.9333333333333333